body{
    margin:0;
    background-image: url();
    background-size: 100%;
    animation-name: back-zoom;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.dot-1 {
    background-color: rgb(37, 19, 19);
    height: ;
    width: ;
    position: absolute;
    border-radius: ;
    top: ;
    left: ;

}
.dot-2 {
    background-color:rgb(37, 19, 19); ;
    height: 10px;
    width:10px ;
    position: absolute;
    border-radius:50% ;
    top:60% ;
    left: 60%;

}
.dot-3 {
    background-color: rgb(37, 19, 19);;
    height: ;
    width: ;
    position: absolute;
    border-radius: ;
    top: ;
    left: ;
}
    .dot-4 {
        background-color: rgb(37, 19, 19);;
        height: ;
        width: ;
        position: absolute;
        border-radius: ;
        top: ;
        left: ;
    }
        .dot-5 {
            background-color: rgba(135, 124, 29, 0.85);;
            height: ;
            width: ;
            position: absolute;
            border-radius: ;
            top: ;
            left: ;
        }
        .dot-6 {
            background-color:rgb(18, 48, 62); ;
            height: ;
            width: ;
            position: absolute;
            border-radius: ;
            top: ;
            left: ;
        }
@keyframes back-zoom {
   25%{
        background-size: ;
        transiton:
    }
}
@keyframes dot{
    25%{
        transform: scale(1,5)
    }
}